* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #004980;
  font-family: "Montserrat";
}

.container {
  position: relative;
  margin-top: 100px;
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="radio"] {
  display: none;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.label__text {
  font-style: normal;
  width: 208px;
  height: 96px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #004980;
}

.field__control,
.game_lever_text {
  color: #0080c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98px;
  height: 98px;
  left: 585px;
  top: 354px;
  background: #ffffff;
  border-radius: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.field__control,
.game_lever_text:hover {
  color: #8c8b8b;
}

.field__control,
.game_lever_text:checked {
  color: #414141;
}

.btn__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  width: 246px;
  height: 50px;
  left: 389px;
  top: 519px;
  background: #7ac100;
  border-radius: 12px;
  border: 1px solid #7ac100;
  margin-top: 67px;
}

.game-table {
  max-width: 500px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-section_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 26px;
  margin-left: 26px;
}

.game-section_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  margin-left: 26px;
}

.timer {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
}

.cardsField {
  display: none;
}

.game-card {
  width: 95px;
  height: 133px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.game-card i {
  display: none;
}

.game-card i + i {
  display: block;
}

.flippedCard {
  width: 100%;
  height: 100%;
  position: absolute;
}

.peaks {
  position: relative;
  background-image: url(./img/peaks.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.peaks::before {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/peaks.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: left bottom;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 29px;
  left: 12px;
}

.peaks::after {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/peaks.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 29px;
  right: 12px;
}

.tambourine {
  position: relative;
  background-image: url(./img/tambourine.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.tambourine::before {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/tambourine.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: left bottom;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 29px;
  left: 12px;
}

.tambourine::after {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/tambourine.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 29px;
  right: 12px;
}

.cross {
  position: relative;
  background-image: url(./img/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.cross::before {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/cross.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: left bottom;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 29px;
  left: 12px;
}

.cross::after {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/cross.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 29px;
  right: 12px;
}

.hearts {
  position: relative;
  background-image: url(./img/hearts.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.hearts::before {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/hearts.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: left bottom;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 29px;
  left: 12px;
}

.hearts::after {
  content: attr(data-value);
  position: absolute;
  width: 14px;
  height: 32px;
  background-image: url(./img/hearts.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 29px;
  right: 12px;
}

.notFlippedCard {
  background-image: url("./img/notFlippedCard.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.restart_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  width: 246px;
  height: 50px;
  left: 389px;
  top: 519px;
  background: #7ac100;
  border-radius: 12px;
  border: 1px solid #7ac100;
  margin-top: 52px;
  margin-bottom: 46px;
}

.game-card_flip {
  background: #5dc6ff !important;
  -webkit-transform: perspective(100px), rotateY(180deg);
          transform: perspective(100px), rotateY(180deg);
}

.game-card.flip i {
  display: block;
}

.game-card.flip i + i {
  display: none;
}

.game-card.successfully {
  background: #34c957;
}

.game-card i + i:hover {
  background: #c2f5ff;
}

.result_screen_win_container {
  display: none;
  background: #c2f5ff;
  border-radius: 12px;
  background-position: center;
}

.result_screen_lost_container {
  display: none;
  background: #c2f5ff;
  border-radius: 12px;
  background-position: center;
}

.result_screen_win,
.result_screen_lost {
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.win_screen,
.lost_screen {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.screen_img {
  margin-top: 30px;
  margin-bottom: 4px;
}

.win_screen_title,
.lost_screen_title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 28px;
}

.win_screen_subtitle,
.lost_screen_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */